
/* Shop
-------------------------------------------- */

/* Warenkorb- Button und Symbol */
@CartButtonBG: #A1A1A1;
@CartButtonBGHover: #676767;
@CartSymbolColor: #fff;

/* Warenkorb Tabelle */
@RowBorder: #A1A1A1;
@CartModifyerSymbols: #000;

/* Preis */
@PriceColor: #1616;

/* Produkt */
@ProductBorder: #A1A1A1;
@ProductBorderHover: #676767;


#ProductList{
	width: 100%;
	float: left;
	display: block;
	margin-top: 30px;
	.product{
		width: 31.3%;
		float: left;
		display: block;
		margin: 0 3% 35px 0;
		&:nth-child(3n+0){
			margin-right: 0;
		}
		h3 {
			font-size: 1.043em;
			margin-bottom: 10px;
			a{
				font-size: 1.2em;
				line-height: 120%;
				font-weight: normal;
				padding: 0;
				margin: 0 0 12px 0;
				color: #333333;
			}
		}
		.shopProductImage{
			width: 100%;
			float: left;
			display: block;
			margin: 0 0 19px 0;
			border: 2px solid transparent;
			-webkit-transition: border 0.3s;
			transition: border 0.3s;
			&:hover{
				border-color: @ProductBorderHover;
				a{
					border-color: @ProductBorderHover;
				}
			}
			a{
				width: 100%;
				float: left;
				display: block;
				border: 1px solid #dddddd;
				-webkit-transition: border 0.3s;
				transition: border 0.3s;
			}
			.noImage{
				height: 216px;
				position: relative;
				background: #E0E0E0;
				.innerWrapper{
					position: absolute;
					margin: auto;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 63px;
					height: 60px;
					i{
						display: block;
						font-size: 58px;
						color: #7E7E7E;
					}
				}
			}
		}
	}
}

.shopProductDetailDesc{
	float: right;
	display: block;
	margin: 19px 0 20px 0;
}

.priceContainer{
	width: 100%;
	float: left;
	display: block;
	.price{
		float: right;
		display: block;
		font-size: 1em;
		color: @PriceColor;
		margin: 4px 4% 0 0;
		font-family: @Bold;
	}
	.cartForm{
		float: right;
		display: block;
		input{
			width: 37px;
			height: 31px;
			float: left;
			display: block;
			z-index: 999;
		}
	}
	button{
		position: relative;
		width: 34px;
		height: 30px;
		padding: 0;
		border: none;
		float: left;
		display: block;
		background: @CartButtonBG;
		cursor: pointer;
		border-radius: 4px;
		margin-left: 15px;
		-webkit-transition: background 0.3s;
		transition: background 0.3s;
		i{
			color: @CartSymbolColor;
			font-size: 18px;
		}
		&:hover{
			background-color: @CartButtonBGHover;
		}
	}
}

.mobileCart{
	display: none;
}

.productDetailContainer{
    width: 100%;
    float: left;
    display: block;
	margin-top: 30px;
}

.shopProductDetailImage{
	float: left;
	width: 29.4%;
	display: block;
	margin: 0 3% 15px 0;
	.noImage{
		height: 220px;
		width: 273px;
		position: relative;
		background: #E0E0E0;
		.innerWrapper{
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 63px;
			height: 60px;
			i{
				display: block;
				font-size: 58px;
				color: #7E7E7E;
			}
		}
	}
	.productGallery{
		margin-top: 20px;
		a{
			&:nth-child(4n+0){
				img{
					margin-right: 0;
				}
			}
			img{
				width: 23.5%;
				float: left;
				margin: 0 2% 10px 0;
			}
		}
	}
}

.shopProductDetailDesc{
	width: 67.6%;
	float: right;
	display: block;
	margin: 0px 0 20px 0;
	.priceContainer{
		margin-top: 30px;
		width: 50%;
		float: right;
		.productVariantPrice{
			width: 100%;
			margin: 40px 0 0 0;
			.variante{
				font-size: 1.2em;
			}
		}
	}
}

table#Cart{
	width: 100%;
	margin: 20px 0 20px 0;
	thead{
		tr{
			th{
				font-size: 16px;
				border-bottom: 1px solid @RowBorder;
				vertical-align: top;
				text-align: left;
				font-weight: normal;
				padding: 0 0 5px 3px;
			}
			td{
				padding: 5px 0 5px 3px;
				border-bottom: 1px solid @RowBorder;
			}
			&.odd td{
				background: #fff;
			}
			&.even td{
				background: #fff;
			}
		}
	}
 	tfoot{
		tr{
			&:first-child{
				border-top: 1px solid @RowBorder;
			}
		}
	}
	i{
		font-size: 15px;
		color: @CartModifyerSymbols;
	}
	.originalPrice{
		display: none;
	}
}

#OrderForm{
	width: 100%;
	float: left;
	display: block;
	margin: 15px 0 0 0;
}

.cartPlus,
.cartMinus,
.cartDel{
	width: 19px;
	height: 19px;
	padding: 2px;
	background: none;
	border: none;
	cursor: pointer;
}

.shopback{
	padding: 8px;
	border: none;
	color: #fff !important;
	cursor: pointer;
	background: #000;
	display: block;
	float: left;
	margin-top: 20px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	&:hover{
		background: #142445;
	}
}

span.m_price{
	display: none;
}
input.holder-required{
	border-color: 2px solid red !important;
}
.message.required{
	display: none;
}

#CartWidget{
	width: 31.4%;
	float: right;
	padding: 10px 20px;
	margin: -43px 0 0 0;
	border-radius: 10px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
	background: #A1A1A1;
	position: relative;
	i{
		color: #fff;
		font-size: 25px;
	}
}
.widgetRightImg {
	float: left;
	padding: 0 10px 0 0;
}

#CartWidget h3, .cartight {
	color: white !important;
	padding: 0 0 0 45px;
}

#CartWidget a:hover {
	text-decoration: none !important;
	text-shadow: 0px 1px 10px white;
}


/**
 *
 * Media Queries
-------------------------------------------- */

@media only screen and (min-width: 790px) and (max-width: 990px) {

}

@media only screen and (min-width: 554px) and (max-width: 789px) {

}

@media only screen and (min-width: 481px) and (max-width: 554px) {

}

@media only screen and (max-width : 480px) {

}



